{% extends 'layout/master-layout.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block sidebar %}
	<img class="img-fluid" src="{{ asset('images/logo_cs2i.png') }}" alt="logo_cs2i">
	<div class="text-center mt-5">
		<span class="badge text-bg-primary text-white fs-2">Administration</span>
	</div>
{% endblock %}

{% block body %}
	<div class="mx-5">
		<h1>Liste des commentaires</h1>
		<div class="table-responsive">
			<table class="table ">
				<thead>
					<tr>
						<th scope="col">Article</th>
						<th scope="col">Commentaire</th>
						<th scope="col">Date</th>
						<th scope="col">Staus</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for comment in comments %}
						<tr>
							<td>
								<a href="{{ path('app_post_detail', {'id': comment.post.id}) }}">
									{{ comment.post.title }}
								</a>
							</td>
							<td>
								<strong>{{ comment.title }} - {{ comment.username }}</strong>
								<br>
								{{ comment.content }}</td>
							<td>{{comment.commentDate|date('d/m/Y')}}</td>
							<td>
								{% if comment.status == 1 %}
									<span class="badge text-bg-info text-white">Publié</span>
								{% elseif comment.status == 0 %}
									<span class="badge text-bg-warning">En attente</span>
								{% else %}
									<span class="badge text-bg-danger">Spam</span>
								{% endif %}
							</td>
							<td>
								<div class="d-flex">
									<a href="{{ path('app_comment_admin_validate', {'id': comment.id}) }}" class="me-2">
										<i class="bi bi-check2 text-primary"></i>
									</a>
									<a href="{{ path('app_comment_admin_spam', {'id': comment.id}) }}" class="me-2">
										<i class="bi bi-exclamation-triangle text-primary"></i>
									</a>
									<a href="{{ path('app_comment_admin_delete', {'id': comment.id}) }}">
										<i class="bi bi-trash3 text-primary"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
