{% set Menu = 
    [
        {title: 'Accueil', route: 'app', position: 'left'},
        {title: 'À propos', route: 'app_apropos', position: 'left'},
        {title: 'Administration', route: 'app_comment_admin', position: 'right'},
    ]
%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app') }}">
            cs2i>blog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in Menu %}
                    {% if item.position == 'left' %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == item.route %}active{% endif %}" href="{{ path(item.route) }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>


            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for item in Menu %}
                    {% if item.position == 'right' %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == item.route %}active{% endif %}" href="{{ path(item.route) }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</nav>
